.navbar-brand {
    margin-left: 16px;
}
.navbar {
    --bs-navbar-brand-font-size: 1.6rem;
    justify-content: end;
}

.form-control {
    margin-right: 17px;
}

.input-group-text {
    border-top-left-radius: 20%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20%;
    background-color: var(--bs-gray-200) ;
}