form{
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #191f25f5;
    color: #75e6b2;
}

.form-control{
    background-color: #18181891;
    color: #75e6b2;
}

.border-success {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
    
  }